.container {
  padding-top: 50px;
}

.main {
  min-height: 100vh;
  /*padding: 4rem 0;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.blogBody {
  /*background-image: url("../public/codein-logo.png");*/
  /*background-color: #fafafa;*/
  /*background-attachment: fixed;*/
  /*background-blend-mode: soft-light;*/
  /*background-clip: border-box;*/
  /*background-origin: border-box;*/
  /*background-position: center;*/
  /*background-repeat: repeat-y;*/
  /*background-size: 1000px;*/
  z-index: 2;
  flex: 1;
  width: clamp(50%, 100%, 600px);
  display: flex;
  flex-wrap: wrap;
}

.blogBodyTitle {
  border-bottom: 3px solid crimson;
  border-left: 10px solid crimson;
  padding-left: 10px;
  color: crimson;
  display: flex;
  width: 100%;
}

/*.postsSelector option {*/
/*  font-size: 0.5em;*/
/*}*/
.postsSelector {
  border: none;
  background-color: crimson;
  color: whitesmoke;
  font-size: 0.8em;
  margin-left: auto;
  width: clamp(100px, 30%, 50%);
  text-align: center;
}

.post {
  padding: 1em;
  border-bottom: 1px solid #ccc;
  /*padding: 2em;*/
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  width: 50%;
}

.post a {
  word-break: break-word;
  margin: auto 0 0;
  border-left: 0.25em crimson solid;
}

.post .content {
  font-size: 1.2em;
  line-height: 1.75;
  width: 100%;
  word-break: break-word;
}

.blogHeader {
  max-width: clamp(400px, 50vw, 800px);
  margin: 0 auto;
  padding: 1em;
}

@media screen and (max-width: 640px) {
  .post {
    width: 100%;
  }

  .post .content {
    line-height: 1;
  }
}
