*, body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

a {
    color: rgba(220, 20, 60, 0.75);
    text-decoration: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    transition-duration: 100ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

a:hover,
a:focus,
a:active {
    color: crimson;
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
}
